.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    z-index: 9999;
    background: transparent;
}

.progressBar {
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, var(--c5), var(--c6));
    transition: width 0.1s ease-out;
}