:root {
	--c1: #071013;
	--c2: #fffecb;
	--c3: #20a4f3;  
	--c4: #1d2b35;
	--c5: #fb232e;
	--c6: #ffaa33;
}

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	-webkit-font-smoothing: antialiased;
}

::selection {
  background: var(--c1);
  color: var(--c6);
}